

            <div class="planning-processe-full">
                <div class="planning-processe-full-search shadow">
                    <div class="mx-3" style="position: relative; top: 8px;">
                    <div class="e-input-group e-float-icon-left ">
                <span class="e-icons e-search" (mouseup)="onMouseUp($event.target)" (mousedown)="onMouseDown($event.target)"></span>
                <div class="e-input-in-wrap">
                    <input class="e-input" type="text" (focus)="focusIn($event.target)"
                    placeholder = "Search by Process" (blur)="focusOut($event.target)" />
                </div>
            </div>
            </div>
                </div>
                <div class="planning-processe-full-content shadow">
                    <div class="planning-processe-full-content-title">
                        <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24"><defs><style>.aclock,.bclock{fill:none;}.bclock{stroke:#4c788d;stroke-linecap:round;stroke-linejoin:round;stroke-width:1.5px;}</style></defs><path class="aclock" d="M0,0H24V24H0Z"/><circle class="bclock" cx="9" cy="9" r="9" transform="translate(3 3)"/><path class="bclock" d="M12,7v5l3,3"/></svg>
                        <span>Pre Defined Processes</span>
                    </div>
                    <div class="planning-processe-full-content-body">
                        <div class="row card-border">
                            <div class="col-5">
                                <p class="special-p">Operation Name</p>
                                <p>Resources</p>
                                <p style="margin-bottom: 7px;">Machine</p>
                            </div>
                            <div class="col-1">
                                <span class="e-icons e-chevron-right"></span>
                            </div>
                            <div class="col-6">
                                <p style="font-size: 0.9rem;">Function Name</p>
                                <p>Resources Names</p>
                                <p>Machine</p>
                            </div>
                        </div>
                        <div class="row card-border">
                            <div class="col-5">
                                <p class="special-p">Operation Name</p>
                                <p>Resources</p>
                                <p style="margin-bottom: 7px;">Machine</p>
                            </div>
                            <div class="col-1">
                                <span class="e-icons e-chevron-right"></span>
                            </div>
                            <div class="col-6">
                                <p style="font-size: 0.9rem;">Function Name</p>
                                <p>Resources Names</p>
                                <p>Machine</p>
                            </div>
                        </div>
                        <div class="row card-border">
                            <div class="col-5">
                                <p class="special-p">Operation Name</p>
                                <p>Resources</p>
                                <p style="margin-bottom: 7px;">Machine</p>
                            </div>
                            <div class="col-1">
                                <span class="e-icons e-chevron-right"></span>
                            </div>
                            <div class="col-6">
                                <p style="font-size: 0.9rem;">Function Name</p>
                                <p>Resources Names</p>
                                <p>Machine</p>
                            </div>
                        </div>
                        <div class="row card-border">
                            <div class="col-5">
                                <p class="special-p">Operation Name</p>
                                <p>Resources</p>
                                <p style="margin-bottom: 7px;">Machine</p>
                            </div>
                            <div class="col-1">
                                <span class="e-icons e-chevron-right"></span>
                            </div>
                            <div class="col-6">
                                <p style="font-size: 0.9rem;">Function Name</p>
                                <p>Resources Names</p>
                                <p>Machine</p>
                            </div>
                        </div>
                        <div class="row card-border">
                            <div class="col-5">
                                <p class="special-p">Operation Name</p>
                                <p>Resources</p>
                                <p style="margin-bottom: 7px;">Machine</p>
                            </div>
                            <div class="col-1">
                                <span class="e-icons e-chevron-right"></span>
                            </div>
                            <div class="col-6">
                                <p style="font-size: 0.9rem;">Function Name</p>
                                <p>Resources Names</p>
                                <p>Machine</p>
                            </div>
                        </div>
                        <div class="row card-border">
                            <div class="col-5">
                                <p class="special-p">Operation Name</p>
                                <p>Resources</p>
                                <p style="margin-bottom: 7px;">Machine</p>
                            </div>
                            <div class="col-1">
                                <span class="e-icons e-chevron-right"></span>
                            </div>
                            <div class="col-6">
                                <p style="font-size: 0.9rem;">Function Name</p>
                                <p>Resources Names</p>
                                <p>Machine</p>
                            </div>
                        </div>
                        <div class="row card-border">
                            <div class="col-5">
                                <p class="special-p">Operation Name</p>
                                <p>Resources</p>
                                <p style="margin-bottom: 7px;">Machine</p>
                            </div>
                            <div class="col-1">
                                <span class="e-icons e-chevron-right"></span>
                            </div>
                            <div class="col-6">
                                <p style="font-size: 0.9rem;">Function Name</p>
                                <p>Resources Names</p>
                                <p>Machine</p>
                            </div>
                        </div>
                        <div class="row card-border">
                            <div class="col-5">
                                <p class="special-p">Operation Name</p>
                                <p>Resources</p>
                                <p style="margin-bottom: 7px;">Machine</p>
                            </div>
                            <div class="col-1">
                                <span class="e-icons e-chevron-right"></span>
                            </div>
                            <div class="col-6">
                                <p style="font-size: 0.9rem;">Function Name</p>
                                <p>Resources Names</p>
                                <p>Machine</p>
                            </div>
                        </div>
                        <div class="row card-border">
                            <div class="col-5">
                                <p class="special-p">Operation Name</p>
                                <p>Resources</p>
                                <p style="margin-bottom: 7px;">Machine</p>
                            </div>
                            <div class="col-1">
                                <span class="e-icons e-chevron-right"></span>
                            </div>
                            <div class="col-6">
                                <p style="font-size: 0.9rem;">Function Name</p>
                                <p>Resources Names</p>
                                <p>Machine</p>
                            </div>
                        </div>
                        <div class="row card-border">
                            <div class="col-5">
                                <p class="special-p">Operation Name</p>
                                <p>Resources</p>
                                <p style="margin-bottom: 7px;">Machine</p>
                            </div>
                            <div class="col-1">
                                <span class="e-icons e-chevron-right"></span>
                            </div>
                            <div class="col-6">
                                <p style="font-size: 0.9rem;">Function Name</p>
                                <p>Resources Names</p>
                                <p>Machine</p>
                            </div>
                        </div>
                        <div class="row card-border">
                            <div class="col-5">
                                <p class="special-p">Operation Name</p>
                                <p>Resources</p>
                                <p style="margin-bottom: 7px;">Machine</p>
                            </div>
                            <div class="col-1">
                                <span class="e-icons e-chevron-right"></span>
                            </div>
                            <div class="col-6">
                                <p style="font-size: 0.9rem;">Function Name</p>
                                <p>Resources Names</p>
                                <p>Machine</p>
                            </div>
                        </div>
                        <div class="row card-border">
                            <div class="col-5">
                                <p class="special-p">Operation Name</p>
                                <p>Resources</p>
                                <p style="margin-bottom: 7px;">Machine</p>
                            </div>
                            <div class="col-1">
                                <span class="e-icons e-chevron-right"></span>
                            </div>
                            <div class="col-6">
                                <p style="font-size: 0.9rem;">Function Name</p>
                                <p>Resources Names</p>
                                <p>Machine</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>