.machines{
    padding: 20px ;
    height: 100%;
    width: 100%;
    overflow: auto;
    color: #003F5C;
    p {
    margin-bottom: 0.4rem;
}
    .machines-title{
        color: #003F5C;
        font-size: 1.1rem;
        letter-spacing: 0px;
        text-transform: capitalize;
    }
}