<div class="machines-stat">
    <p class="machines-stat-title">Machines \ Statics</p>
    <div class="machines-stat-content row">
        <div class="machines-full-left shadow">
            <div class="machines-full-title">
                <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24">
                    <defs>
                        <style>
                            .a1,
                            .b1 {
                                fill: none;
                            }

                            .b1 {
                                stroke: #2c3e50;
                                stroke-linecap: round;
                                stroke-linejoin: round;
                                stroke-width: 1.5px;
                            }
                        </style>
                    </defs>
                    <path class="a1" d="M0,0H24V24H0Z" />
                    <path class="b1" d="M4,7V6A2,2,0,0,1,6,4H8" />
                    <path class="b1" d="M4,17v1a2,2,0,0,0,2,2H8" />
                    <path class="b1" d="M16,4h2a2,2,0,0,1,2,2V7" />
                    <path class="b1" d="M16,20h2a2,2,0,0,0,2-2V17" />
                    <rect class="b1" width="1" height="2" transform="translate(5 11)" />
                    <line class="b1" y2="2" transform="translate(10 11)" />
                    <rect class="b1" width="1" height="2" transform="translate(14 11)" />
                    <line class="b1" y2="2" transform="translate(19 11)" />
                </svg>
                <span>Total Production</span>
            </div>
            <div class="machines-full-body">
                <div class="row mt-3">
                    <div class="col-12">
                        <span class="row-span">{{machineValues?.actualProduction}}</span>
                        <p class="">Actual Production (Bottles)</p>
                    </div>
                </div>

            </div>
        </div>
        <div class="machines-full-middle shadow">
            <div class="machines-full-title">
                <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24">
                    <defs>
                        <style>
                            .a2,
                            .b2 {
                                fill: none;
                            }

                            .b2 {
                                stroke: #2c3e50;
                                stroke-linecap: round;
                                stroke-linejoin: round;
                                stroke-width: 1.5px;
                            }
                        </style>
                    </defs>
                    <path class="a2" d="M0,0H24V24H0Z" />
                    <circle class="b2" cx="2" cy="2" r="2" transform="translate(12 4)" />
                    <line class="b2" x2="8" transform="translate(4 6)" />
                    <line class="b2" x2="4" transform="translate(16 6)" />
                    <circle class="b2" cx="2" cy="2" r="2" transform="translate(6 10)" />
                    <line class="b2" x2="2" transform="translate(4 12)" />
                    <line class="b2" x2="10" transform="translate(10 12)" />
                    <circle class="b2" cx="2" cy="2" r="2" transform="translate(15 16)" />
                    <line class="b2" x2="11" transform="translate(4 18)" />
                    <line class="b2" x2="1" transform="translate(19 18)" />
                </svg>
                <span>Performance Indicator KPI</span>
            </div>
            <div class="machines-full-body row">
                <div class="col-2">
                    <ejs-progressbar #annotation1 id='label-container1' [type]='type1' [maximum]='max1' [minimum]='min1' [value]='(machineValues?.ava * 100).toFixed(2)'
                        width='110px' title="jhn" height='90px' [animation]='animation' (load)='load($event)' [startAngle]='startAngle1'
                        [endAngle]='endAngle1'>
                    </ejs-progressbar>
                </div>
                <div class="col-2">

                    <span class="prog-circ-value-font mt-4">Avalability </span>
                    <span class="prog-circ-value prog-circ-value-font">{{(machineValues?.ava * 100).toFixed(2)}}%</span>
                </div>
                <div class="col-2">
                    <ejs-progressbar #annotation1 id='label-container2' [type]='type1' [maximum]='max1' [minimum]='min1' [value]='(machineValues?.per * 100).toFixed(2)'
                        width="110px" title="jhn" height='90px' [animation]='animation' (load)='load($event)' [startAngle]='startAngle1'
                        [endAngle]='endAngle1'>
                    </ejs-progressbar>
                </div>
                <div class="col-2">
                    <span class="prog-circ-value-font mt-4">Preformance</span>
                    <span class="prog-circ-value prog-circ-value-font">{{(machineValues?.per * 100).toFixed(2)}}%</span>
                </div>
                <div class="col-2">
                    <ejs-progressbar #annotation1 id='label-container3' [type]='type1' [maximum]='max1' [minimum]='min1' [value]='(machineValues?.qua * 100).toFixed(2)'
                        width='110px' title="jhn" height='90px' [animation]='animation' (load)='load($event)' [startAngle]='startAngle1'
                        [endAngle]='endAngle1'>
                    </ejs-progressbar>
                </div>
                <div class="col-2">
                    <span class="prog-circ-value-font mt-4">Quality</span>
                    <span class="prog-circ-value prog-circ-value-font">{{(machineValues?.qua * 100).toFixed(2)}}%</span>
                </div>
                <div class="col-12 row mb-3">
                    <div class="col-1" style="font-weight:600;">OEE</div>
                    <div class="col-10">
                        <div class="progress progress-bar-position-mid">
                            <div class="progress-bar progress-bar" role="progressbar" [style]="performanceProgress" aria-valuenow="75" aria-valuemin="0"
                                aria-valuemax="100"></div>
                        </div>
                    </div>
                    <div class="col-1" style="font-weight:600; font-size: 1.2rem; margin-top: -2px;">{{(machineValues?.oee * 100).toFixed(2)}}%</div>
                </div>
            </div>
        </div>
        <div class="col-12" style="padding: 0px;">
            <div class="machine-stat-charts shadow">
                <div class="machines-full-title ">
                    <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24">
                        <defs>
                            <style>
                                .a2,
                                .b2 {
                                    fill: none;
                                }

                                .b2 {
                                    stroke: #2c3e50;
                                    stroke-linecap: round;
                                    stroke-linejoin: round;
                                    stroke-width: 1.5px;
                                }
                            </style>
                        </defs>
                        <path class="a2" d="M0,0H24V24H0Z" />
                        <circle class="b2" cx="2" cy="2" r="2" transform="translate(12 4)" />
                        <line class="b2" x2="8" transform="translate(4 6)" />
                        <line class="b2" x2="4" transform="translate(16 6)" />
                        <circle class="b2" cx="2" cy="2" r="2" transform="translate(6 10)" />
                        <line class="b2" x2="2" transform="translate(4 12)" />
                        <line class="b2" x2="10" transform="translate(10 12)" />
                        <circle class="b2" cx="2" cy="2" r="2" transform="translate(15 16)" />
                        <line class="b2" x2="11" transform="translate(4 18)" />
                        <line class="b2" x2="1" transform="translate(19 18)" />
                    </svg>
                    <span>Machines Statistics</span>
                    <span class="machine-stat-charts-tabs" (click)="tabMachine('Good Vs. Scrap')" [ngClass]="(tabChange =='Good Vs. Scrap')?'active-tab':''">Good Vs. Scrap</span>
                    <span class="machine-stat-charts-tabs" (click)="tabMachine('Down Time')" [ngClass]="(tabChange =='Down Time')?'active-tab':''">Down Time</span>
                    <span class="machine-stat-charts-tabs" (click)="tabMachine('Over Time')" [ngClass]="(tabChange =='Over Time')?'active-tab':''">Over Time</span>
                </div>
                <div class="machine-stat-charts-body">
                    <app-spline-chart *ngIf="tabChange == 'Over Time'"></app-spline-chart>
                    <app-column-stacked-chart *ngIf="tabChange == 'Down Time'"></app-column-stacked-chart>
                    <app-column-stacked-full-h-chart *ngIf="tabChange == 'Good Vs. Scrap'"></app-column-stacked-full-h-chart>
                </div>
            </div>
        </div>
    </div>

</div>
