<div class="chart-fram">
<ejs-chart style='display:block;' id='chartcontainer' [chartArea]='chartArea' width='95%' align='center'
    [primaryXAxis]='primaryXAxis' [primaryYAxis]='primaryYAxis' height='325px' [tooltip]='tooltip'
    (load)='load($event)'>
    <e-series-collection>
        <e-series [dataSource]='data' type='StackingColumn100' fill='#60909f' columnWidth='0.15' xName='x' yName='y' name='UK' width='2'> </e-series>
        <e-series [dataSource]='data' type='StackingColumn100' fill='#00d3be' columnWidth='0.15' xName='x' yName='y1' name='Germany' width='2'>
        </e-series>
      </e-series-collection>
</ejs-chart>
</div>
