
            <div class="full-route-function">
                <div class="full-route-function-content">
                    <div class="full-route-function-content-text-box-1 shadow">
                        <div class="m-3" style="position: relative; top: 10px;">
                            <ejs-datepicker  width="100%"  (open)='onLoad($event)' placeholder='Date'></ejs-datepicker>
                        </div>
                    </div>
                    <div class="full-route-function-content-text-box-1 shadow">
                        <div class="m-3" style="position: relative; top: 10px;">
                            <ejs-timepicker id='timepicker'  placeholder='Time'></ejs-timepicker>

                        </div>
                    </div>
                </div>
            </div>