<div class="frame">
<div class="usage-ratio ">
    <ejs-tab id="tab_default" >
                <e-tabitems>
                    <e-tabitem [header]='headerText[0]'>
                        <ng-template #content>
                            <hr>
                            <div class="top">
                                <app-usage-ratio-top></app-usage-ratio-top>
                            </div>
                        </ng-template>
                    </e-tabitem>
                    <e-tabitem [header]='headerText[1]'>
                        <ng-template #content>
                            <hr>
                            <div class="bottom">
                                <app-usage-ratio-bottom></app-usage-ratio-bottom>
                            </div>
                        </ng-template>
                    </e-tabitem>
                </e-tabitems>
            </ejs-tab>
            </div>
</div>

