.asd{
    width: 200px;
    display: inline-block;
    margin: 0px 10px;
    height: 50px;
    .e-calendar .e-footer-container, .e-bigger.e-small .e-calendar .e-footer-container {
    display: none;
}
}

