<div class="row " >

        <div class="col-12" id="history-chart">
          <div class="row shift-top">
            <div class="col-1 h-5 text-center time-line-full-title1">
              <p>Line 1</p>
            </div>
            <div class="col-11">
              <apx-chart
              [series]="pall2Timeline.series"
              [chart]="pall2Timeline.chart"
              [fill]="pall2Timeline.fill"
              [grid]="pall2Timeline.grid"
              [dataLabels]="pall2Timeline.dataLabels"
              [plotOptions]="pall2Timeline.plotOptions"
              [xaxis]="pall2Timeline.xaxis"
              [yaxis]="pall2Timeline.yaxis"
              [tooltip]="pall2Timeline?.tooltip"
              [legend]="pall2Timeline?.legend"
              [title]="pall2Timeline?.title"

            ></apx-chart>
            </div>

          </div>
        </div>

        <!-- <div class="col-12">
          <div class="row shift-top">
            <div class="col-1 h-5 text-center time-line-full-title1">
              <p>Line 2</p>
            </div>
            <div class="col-11">
              <apx-chart
              [series]="line2Timeline.series"
              [chart]="line2Timeline.chart"
              [fill]="line2Timeline.fill"
              [grid]="line2Timeline.grid"
              [dataLabels]="line2Timeline.dataLabels"
              [plotOptions]="line2Timeline.plotOptions"
              [xaxis]="line2Timeline.xaxis"
              [yaxis]="line2Timeline.yaxis"
              [tooltip]="line2Timeline?.tooltip"
              [legend]="line2Timeline?.legend"
              [title]="line2Timeline?.title"

            ></apx-chart>
            </div>

          </div>
        </div>
        <div class="col-12">
          <div class="row shift-top">
            <div class="col-1 h-5 text-center time-line-full-title1">
              <p>Line 3</p>
            </div>
            <div class="col-11">
              <apx-chart
              [series]="line3Timeline.series"
              [chart]="line3Timeline.chart"
              [fill]="line3Timeline.fill"
              [grid]="line3Timeline.grid"
              [dataLabels]="line3Timeline.dataLabels"
              [plotOptions]="line3Timeline.plotOptions"
              [xaxis]="line3Timeline.xaxis"
              [yaxis]="line3Timeline.yaxis"
              [tooltip]="line3Timeline?.tooltip"
              [legend]="line3Timeline?.legend"
              [title]="line3Timeline?.title"

            ></apx-chart>
            </div>

          </div>
        </div>
        <div class="col-12">
          <div class="row shift-top">
            <div class="col-1 h-5 text-center time-line-full-title1">
              <p>Line 4</p>
            </div>
            <div class="col-11">
              <apx-chart
              [series]="line4Timeline.series"
              [chart]="line4Timeline.chart"
              [fill]="line4Timeline.fill"
              [grid]="line4Timeline.grid"
              [dataLabels]="line4Timeline.dataLabels"
              [plotOptions]="line4Timeline.plotOptions"
              [xaxis]="line4Timeline.xaxis"
              [yaxis]="line4Timeline.yaxis"
              [tooltip]="line4Timeline?.tooltip"
              [legend]="line4Timeline?.legend"
              [title]="line4Timeline?.title"

            ></apx-chart>
            </div>

          </div>
        </div>
        <div class="col-12">
          <div class="row shift-top">
            <div class="col-1 h-5 text-center time-line-full-title1">
              <p>Line 5</p>
            </div>
            <div class="col-11">
              <apx-chart
              [series]="line5Timeline.series"
              [chart]="line5Timeline.chart"
              [fill]="line5Timeline.fill"
              [grid]="line5Timeline.grid"
              [dataLabels]="line5Timeline.dataLabels"
              [plotOptions]="line5Timeline.plotOptions"
              [xaxis]="line5Timeline.xaxis"
              [yaxis]="line5Timeline.yaxis"
              [tooltip]="line5Timeline?.tooltip"
              [legend]="line5Timeline?.legend"
              [title]="line5Timeline?.title"

            ></apx-chart>
            </div>

          </div>
        </div> -->


      </div>
