<!-- <app-resource-material-consumption *ngIf="activeTab == 'consumption'"></app-resource-material-consumption> -->
<!-- <app-resource-material-weight *ngIf="activeTab == 'weight'"></app-resource-material-weight> -->
<app-resource-material-time-line *ngIf="activeTab == 'timeline'"></app-resource-material-time-line>
<!-- <app-resource-material-supply *ngIf="activeTab == 'supply'"></app-resource-material-supply> -->
<app-resource-material-product-scrap *ngIf="activeTab == 'Product&Scrap'"></app-resource-material-product-scrap>
